/vendor
/node_modules
/.idea
/.vscode
/.phpunit.result.cache
/.env
/.env.*
!/.env.example
/storage/*.key
/storage/logs/*.log
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/public/hot
/public/storage
/database/database.sqlite
npm-debug.log
yarn-error.log
